{% extends "encyclopedia/layout.html" %}

{% block title %}
    Did you mean?
{% endblock %}

{% block body %}
<div>
    <p>
        {% if related %}
            <h1>Did you mean</h1>
            {% for entry in related %}
                <div><a href="{% url 'wiki:page_entry' entry %}">{{ entry }}</a>? </div>
            {% endfor %}

        {% else %}
            <h1>Sorry</h1>
            No results found for <strong>{{ searched_entry }}</strong>
        {% endif %}
    </p>
</div>

{% endblock %}